{% extends "_base.html" %}
{% block title %}
    Edit Purchase Items
{% endblock title %}
{% load static %}
{% block content %}
    <h2>Edit Purchase Items for Purchase {{ purchase.name }}</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.non_form_errors }}
        <h2>Update Items</h2>
        {% for purchaseitem_form in form.forms %}
            <hr>
            <h5>
                {% if purchaseitem_form.instance.id %}
                    Item: {{ purchaseitem_form.name }}
                {% else %}
                    Add an item
                {% endif %}
            </h5>
            {% for hidden_field in purchaseitem_form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            {{ purchaseitem_form.as_div }}
        {% endfor %}
        <hr>
        <p>
            <button type="submit" value="Update Item">Update Purchase</button>
            <a href="{{ purchase.get_absoulute_url }}">Purchase List</a>
        </p>
    </form>
{% endblock content %}
