{% extends "_base.html" %}
{% block title%}Puddle Studio{% endblock title%}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/reservation/dashboard.css' %}">
{% endblock additional_head %}

{% block content %}

<div class="app">
    <div class="sidebar">
        <div class="location">
            <select name="locationSelector" class="location-selector">
                <option value="Madion">Madison</option>
                <option value="Madion">Austin</option>
                <option value="Madion">Denver</option>
            </select>
        </div>
        <div class="reservation">
            <select name="listSelctor" class="list-selector">
                <option value="Madion">Upcoming Reservations</option>
                <option value="Madion">Seated Reservations</option>
            </select>
            <div id="reservation-list" class="reservation-list">
                <div class="reservation-item">
                    <div class="status">
                        
                    </div>
                    <div class="details">
                        <p>Party Size: 3</p>
                        <p>7:00 PM</p>
                        <h6>Kenny Xiao</h6>
                    </div>
                    <div class="info">
                        <p>Table 41</p>
                        <p>Notes</p>
                        <p>Wine Club</p>
                    </div>
                </div>
                <div class="reservation-item">
                    <div class="status">
                        
                    </div>
                    <div class="details">
                        <p>Party Size: 3</p>
                        <p>7:00 PM</p>
                        <h6>Kenny Xiao</h6>
                    </div>
                    <div class="info">
                        <p>Table 41</p>
                        <p>Notes</p>
                        <p>Wine Club</p>
                    </div>
                </div>
                <div class="reservation-item">
                    <div class="status">
                        
                    </div>
                    <div class="details">
                        <p>Party Size: 3</p>
                        <p>7:00 PM</p>
                        <h6>Kenny Xiao</h6>
                    </div>
                    <div class="info">
                        <p>Table 41</p>
                        <p>Notes</p>
                        <p>Wine Club</p>
                    </div>
                </div>
                <div class="reservation-item">
                    <div class="status">
                        
                    </div>
                    <div class="details">
                        <p>Party Size: 3</p>
                        <p>7:00 PM</p>
                        <h6>Kenny Xiao</h6>
                    </div>
                    <div class="info">
                        <p>Table 41</p>
                        <p>Notes</p>
                        <p>Wine Club</p>
                    </div>
                </div>
                <div class="reservation-item">
                    <div class="status">
                        
                    </div>
                    <div class="details">
                        <p>Party Size: 3</p>
                        <p>7:00 PM</p>
                        <h6>Kenny Xiao</h6>
                    </div>
                    <div class="info">
                        <p>Table 41</p>
                        <p>Notes</p>
                        <p>Wine Club</p>
                    </div>
                </div>
                <div class="reservation-item">
                    <div class="status">
                        
                    </div>
                    <div class="details">
                        <p>Party Size: 3</p>
                        <p>7:00 PM</p>
                        <h6>Kenny Xiao</h6>
                    </div>
                    <div class="info">
                        <p>Table 41</p>
                        <p>Notes</p>
                        <p>Wine Club</p>
                    </div>
                </div>
                <div class="reservation-item">
                    <div class="status">
                        
                    </div>
                    <div class="details">
                        <p>Party Size: 3</p>
                        <p>7:00 PM</p>
                        <h6>Kenny Xiao</h6>
                    </div>
                    <div class="info">
                        <p>Table 41</p>
                        <p>Notes</p>
                        <p>Wine Club</p>
                    </div>
                </div>   
            </div>
        </div>
        <div class="notfication-panel">
            <p>notes?</p>
        </div>
    </div>
    <div class="canvas">
        <canvas id="interactiveCanvas" width="800" height="600"></canvas>
        <!-- Other UI elements can be added as needed -->
        <div class="query">
            <div class="date-selector">
                <label for="date-picker">
                  <img src="{% static 'images/calendar.svg'%}" alt="Calendar"> <!-- Replace with your actual image path -->
                </label>
                <input type="date" id="dateInput" placeholder="MM/DD/YYYY" hx-get="{% url 'reservation:dashboard'%}" hx-trigger="change" hx-target="#reservation-list" hx-include="#dateInput">
            </div>
            <div class="service">
                <img src="{% static 'images/dinner.svg'%}">
                <h6>Dinner</h6>
            </div>
        </div>
        <div class="time">
            <p>slider for time</p>
        </div>
    </div>
    
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/reservation/dashboard.js' %}"></script>
{% endblock javascript %}