{% extends "_base.html" %}
{% block title %}
    Bar Inventory Items
{% endblock title %}
{% load static %}
{% block content %}
    <h2>Inventory Items</h2>
    {% if barinventoryitem_list %}
        <ul>
            {% for item in barinventoryitem_list %}
                <li>
                    <a>{{ item.name }}</a>
                </li>
                <form method="post"
                      action="{% url 'inventory:purchase_item_change_level' item.pk %}">
                    {% csrf_token %}
                    <li>
                        <select name="level" id="level" value={{ item.level }}>
                            {% for level in level_options %}
                                <option {% if level == item.level %}selected{% endif %} key={{x}} value={{x}} >{{ level }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <button type="submit"> Change </button>
                    </li>    
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Items</p>
    {% endif %}
    <a href="{% url 'inventory:inventory_item_create' %}" role="button">Add An Inventory Item</a>
{% endblock content %}
