{% extends "_base.html" %}
{% block title %}
    Bar Inventory Items
{% endblock title %}
{% load static %}
{% block content %}
    <h2>Inventory Items</h2>
    {% if barinventoryitem_list %}
        <ul>
            {% for item in barinventoryitem_list %}
                <li>
                    <a>{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Items</p>
    {% endif %}
    <a href="{% url 'inventory:inventory_item_create' %}" role="button">Add An Inventory Item</a>
{% endblock content %}
