{% extends "_base.html" %}
{% block title %}
    Bar Inventory Products
{% endblock title %}
{% load static %}
{% block content %}
    <h2>Inventory Products</h2>
    {% if barinventoryproduct_list %}
        <ul>
            {% for product in barinventoryproduct_list %}
                <li>
                    <a>{{ product.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Products</p>
    {% endif %}
    <a href="{% url 'inventory:products_create' %}" role="button">Add An Inventory Product</a>
{% endblock content %}
