{% extends "_base.html" %}
{% block title %}
    Category
{% endblock title %}
{% load static %}
{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/create_view.css' %}">
{% endblock additional_head %}
{% block content %}
    <div class="container">
        <div class="form-container">
            <h1 class="font-league">Create Category</h1>
            <form id="menu-item-form" method="post" class="menu-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-button">
                    <button type="submit" class="submit-button bg-orange font-now-reg">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
