{% extends "_base.html" %}
{% block title %}
    Purchases
{% endblock title %}
{% load static %}
{% block content %}
    <h2>Purchases</h2>
    {% if purchase_list %}
        <table>
            {% for purchase in purchase_list %}
                <tr>
                    <td>
                        <a href="{% url 'inventory:purchase_item_edit' pk=purchase.pk %}">{{ purchase.name }}</a>
                    </td>
                    <td>
                        {% if purchase.status != "delivered" %}
                            <form method="post"
                                  action="{% url 'inventory:purchase_deliver' purchase.pk %}">
                                {% csrf_token %}
                                <button type="submit">Deliver</button>
                            </form>
                        {% else %}
                            <p>Delivered</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% else %}
        <p>No Purchases</p>
    {% endif %}
    <a href="{% url 'inventory:purchase_create' %}" role="button">Add A Purchase</a>
{% endblock content %}
