<div class="pad-3">
    <div class="edit-item-list">
        <h3 class="font-league">Options for:</h3>
        <div class="edit-item-container">
            <h5 data-value="{{ item_uuid }}" class="font-league">{{ item_name }}</h5>
        </div>
        <button class="option-back-button bg-orange font-now-reg"
                hx-trigger="click"
                hx-target=".pad-3"
                hx-get="{% url 'order:get_menu_items_from_menu' %}?menu_id={{ menu_id }}&back=True">Back</button>
    </div>
    <div class="class-container font-now-reg" data-value="{{ item_uuid }}">
        {% for classification, options in classified_options.items %}
            <div class="category-section">
                <h5 class="class-header">{{ classification }}</h5>
                <div class="option-container">
                    {% for option in options %}
                        <div class="option-item"
                             style="background-color: {{ classification.color }}"
                             hx-trigger="click[add_option_to_menu_item('{{ option.id }}', '{{ option.name | escapejs }}', '{{ option.price }}','{{ classification.color }}')]">
                            <h5 class="font-league">{{ option.name }}</h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
