{% extends "_base.html" %}
{% block title %}
    OrderItem
{% endblock title %}
{% load static %}
{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/order/ordermenu.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta id="get-menu-item-options-url"
          content="{% url 'order:get_menu_item_options' %}">
{% endblock additional_head %}
{% block content %}
    <!-- Modal HTML -->
    <div id="discountModal" class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <h2 id="totalDisplay" class="font-league"></h2>
            </div>
            <div class="modal-calc-discount">
                <input type="number"
                       id="discountPercentage"
                       placeholder="0%"
                       min="0"
                       max="100"
                       required>
                <h3 class="font-now-reg">OR</h3>
                <input type="number"
                       id="discountNumber"
                       placeholder="0$"
                       min="0"
                       max="1000"
                       required>
            </div>
            <button class="confirm-discount" onclick="confirmDiscount()">Confirm</button>
            <button class="" onclick="closeModal()">Cancel</button>
        </div>
    </div>
    <div class="container">
        <div id="menu-container" class="menu-container">
            <div class="pad-3">
                <div id="menu-selector"
                     class="font-now-reg"
                     hx-get="{% url 'order:get_menu_items_from_menu' %}"
                     hx-trigger="change from:#menu-dropdown"
                     hx-target="#menu-selection"
                     hx-vals="javascript:{'menu_id': document.getElementById('menu-dropdown').value}">
                    <select id="menu-dropdown" class="menu-dropdown">
                        <option value="all">All Menus</option>
                        {% for menu in menus %}<option value="{{ menu.id }}">{{ menu.name }}</option>{% endfor %}
                    </select>
                </div>
                <div id="menu-selection" class="font-now-reg">
                    {% for category in categories %}
                        <div class="category-section">
                            <h5 class="catergory-header">{{ category.name }}</h5>
                            <div class="menu-items-list">
                                {% for menu_item in category.menu_items.all %}
                                    <div id="menu-item-id-{{ menu_item.pk }}"
                                         class="menu-item"
                                         style="background-color:{{ category.color }}"
                                         data-value="{{ menu_item.price }}"
                                         hx-trigger="click[add_menu_item_to_ticket('{{ menu_item.pk }}','{{ menu_item.name | escapejs }}','{{ menu_item.price }}','{{ category.color }}')]">
                                        <h5 class="font-league" id="menu-item-id-{{ menu_item.pk }}">{{ menu_item.name }}</h5>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="order-container">
            <div class="order-text">
                <h5 class="font-now-med">Waiting to start an Order :)</h5>
                <p class="font-now-med">Item(s)</p>
            </div>
            <div id="order-item-list" class="order-item-list font-league">
                {% comment %} <div>
                        <div class="order-item">
                            <h3>Gin & Tonic</h3>
                        </div>
                        <div class="order-item-details">
                            <h4>Double Shot</h4>
                        </div>
                </div> {% endcomment %}
            </div>
            <div class="ticket-total font-league">
                <h1>Total</h1>
                <h1>$0.00</h1>
            </div>
        </div>
        <div class="function-tab">
            <button>Order GPT</button>
            <button>Duplciate</button>
            <button hx-trigger="click[showModal()]">Discount</button>
        </div>
        <div class="ticket-function-tab">
            <button>X</button>
            <button>Print Ticket</button>
            <button hx-post="{% url 'order:ticket_create' %}"
                    hx-target="#order-item-list"
                    hx-vals='js:{myVals: sendTicket()}'>Send Ticket</button>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/order/ordermenu.js' %}"></script>
{% endblock javascript %}
