{% extends "_base.html" %}
{% block title %}
    OrderItem
{% endblock title %}
{% load static %}
{% block content %}
    <form id="menu-selection"
          hx-post="{% url "order:ticket_create" %}"
          hx-target="#response"
          hx-swap="outerHTML">
        {% csrf_token %}
        {% for item in menu_items %}
            <div>
                <label>{{ item.name }}</label>
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <input type="number" name="quantity" value="1" min="1" max="10">
            </div>
        {% endfor %}
        <button type="submit">Send Ticket</button>
    </form>
    <div id="response"></div>
{% endblock content %}
